<!-- Hero -->
<div class="bg-neutral-600">
  <div class="max-w-5xl mx-auto px-4 xl:px-0 pt-24 lg:pt-32 pb-24">
    <h1 class="font-semibold text-white text-5xl md:text-6xl">
      <span class="text-[#ff0]">E37-HSMS:</span> Hardware Shop Management System
    </h1>
    <div class="max-w-4xl">
      <p class="mt-5 text-neutral-400 text-lg">
        Provides a comprehensive solution to manage your hardware shop efficiently. The system helps you streamline your operations, track inventory, manage customer orders, and generate insightful reports. Whether you're a small shop or a large hardware store, this platform is designed to meet your needs and enhance your business performance.
      </p>
      <button class="border-2 border-neutral-400 px-6 py-2 mt-4 rounded-lg text-neutral-400 hover:bg-neutral-400 hover:text-neutral-800" onclick="location.href='/register'">
        Get Started
      </button>
    </div>
  </div>
</div>
<!-- End Hero -->
