<!-- Hero -->
<div class="bg-[#36454F]">
  <div class="max-w-5xl mx-auto px-4 xl:px-0 pt-24 lg:pt-32 pb-24">
    <h1 class="font-semibold text-white text-5xl md:text-6xl">
      <span class="text-[#ff0]">Safari Symphony:</span> Unforgettable Adventures
    </h1>
    <div class="max-w-4xl">
      <p class="mt-5 text-neutral-400 text-lg">
        Welcome to Safari Symphony, where your adventure dreams come to life! Whether you're seeking the thrill of the wild on a safari, the serenity of pristine landscapes, or the rich cultures of East Africa, we have the perfect journey for you
      </p>
      <button class="border-2 border-neutral-400 px-6 py-2 mt-4 rounded-lg text-neutral-400 hover:bg-neutral-400 hover:text-neutral-800" onclick="location.href='/register'">
        Explore Our Safaris
      </button>
    </div>
  </div>
</div>
<!-- End Hero -->
